.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.nav-menu {
  top: 71px;
  right: 81px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 453px;
  height: 29px;
  max-width: 453px;
  margin-left: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-button {
  color: #000;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 107px;
  height: 100%;
  padding: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
  text-align: center;
  text-transform: uppercase;
}

.nav-link-2 {
  width: 115px;
  height: auto;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
  text-transform: uppercase;
}

.nav-link {
  left: 0px;
  width: 123px;
  height: 21px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
  color: #000;
  text-transform: uppercase;
}

.navbar {
  width: 1366px;
  height: 127px;
  max-width: 100%;
  background-color: #fff;
}

.brand {
  left: 82px;
  top: 18px;
  width: 218px;
  height: 109px;
}

.image {
  width: 162.07px;
  height: 95.55px;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  font-family: Gantari, sans-serif;
}

.nav-link-3 {
  width: 108px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
  text-transform: uppercase;
}

.body {
  height: 2341px;
  max-width: 1366px;
}

.province_section_1 {
  width: auto;
  height: 640px;
  background-color: transparent;
  background-image: url('../images/Western_Cape_Page_Banner_image.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.hero_heading {
  position: absolute;
  left: 82px;
  top: 640px;
  width: 762px;
  height: 78px;
  color: #fff;
  font-size: 58px;
  line-height: 78px;
  text-transform: uppercase;
}

.prov_block {
  position: absolute;
  left: 895px;
  top: 557px;
  width: 390px;
  height: 150px;
  background-color: #fff;
  opacity: 0.4;
}

.prov_grid {
  position: absolute;
  left: 929px;
  top: 592px;
  width: 311px;
  height: 89px;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.text_prov {
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
}

.contact_section_1 {
  width: auto;
  height: 640px;
  background-color: transparent;
  background-image: url('../images/Western_Cape_Page_Banner_image.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.contact_heading {
  position: absolute;
  left: 82px;
  top: 640px;
  width: 762px;
  height: 78px;
  color: #fff;
  font-size: 58px;
  line-height: 78px;
  text-transform: uppercase;
}

.contact_form_section {
  height: 649px;
}

.grid {
  position: absolute;
  left: 82px;
  top: 885px;
  width: 999px;
  height: 459px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.text-block {
  position: static;
  width: 243px;
  height: 27px;
  font-size: 20px;
  line-height: 27px;
  text-transform: uppercase;
}

.div-block {
  width: 100%;
  height: 100%;
}

.paragraph {
  position: absolute;
  top: 49px;
  width: 202px;
  height: 114px;
  font-size: 18px;
  line-height: 30px;
}

.number_p {
  position: absolute;
  top: 187px;
  width: 145px;
  font-size: 18px;
  line-height: 30px;
}

.form-block {
  position: absolute;
  left: 629px;
  top: 75px;
  width: 370px;
}

.div-block-2 {
  width: 100%;
  height: 100%;
}

.message_head {
  position: absolute;
  left: 629px;
  top: 0px;
  width: 243px;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
}

.form {
  position: static;
}

.text-field {
  position: absolute;
  top: 0px;
  height: 35px;
}

.text-field-2 {
  position: absolute;
  top: 57px;
  height: 35px;
}

.submit-button {
  position: absolute;
  top: 331px;
  border: 1px solid #000;
  background-color: transparent;
  color: #000;
  text-transform: uppercase;
}

.text-field-3 {
  position: absolute;
  top: 116px;
  height: 35px;
}

.textarea {
  position: absolute;
  top: 173px;
  width: 370px;
  height: 140px;
}

.section_2 {
  height: 767px;
  background-image: url('../images/Homepage_footer_image.jpg');
  background-position: 0px 0px;
  background-size: auto;
}

.contact_section_2 {
  height: 751px;
  background-image: url('../images/Contact_Us_Footer_image.jpg');
  background-position: 0px 0px;
  background-size: auto;
}

.footer {
  width: auto;
  height: 174px;
  background-color: #000;
  font-family: Gantari, sans-serif;
}

.footer_grid {
  position: absolute;
  left: 82px;
  top: 2220px;
  right: 82px;
  width: auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer_menu {
  position: relative;
  left: auto;
  top: 20px;
  right: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 29px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer_link {
  width: 123px;
  height: 21px;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

.link_text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

.footer_button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 107px;
  height: 100%;
  padding: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #fff;
  background-color: transparent;
  font-weight: 400;
  text-transform: uppercase;
}

.section_1 {
  width: auto;
  height: 640px;
  background-color: transparent;
  background-image: url('../images/Homepage_Banner.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.hero_heading-2 {
  position: absolute;
  left: 82px;
  top: 447px;
  width: 596px;
  height: 138px;
  font-family: Gantari, sans-serif;
  color: #fff;
  font-size: 58px;
  line-height: 60px;
  text-transform: uppercase;
}

.hero_paragraph {
  position: absolute;
  left: 82px;
  top: 598px;
  width: 774px;
  height: 64px;
  font-family: Gantari, sans-serif;
  color: #fff;
  font-size: 22px;
  line-height: 35px;
  text-transform: uppercase;
}

.about_section {
  height: 811px;
}

.benefits_section {
  height: 767px;
  background-color: #fff;
  color: #000;
}

.about_heading {
  position: absolute;
  left: 82px;
  top: 956px;
  width: 564px;
  height: 64px;
  font-family: Gantari, sans-serif;
  color: #000;
  font-size: 48px;
  line-height: 64px;
  text-transform: uppercase;
}

.about_paragraph {
  position: absolute;
  left: 82px;
  top: 1067px;
  width: 999px;
  height: 267px;
  font-family: Gantari, sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}

.benefit_section {
  height: 767px;
  background-color: #000;
  font-family: Gantari, sans-serif;
  color: #fff;
}

.benefit_heading {
  position: absolute;
  left: 82px;
  top: 1730px;
  width: 564px;
  height: 128px;
  font-size: 48px;
  line-height: 60px;
  text-align: left;
  text-transform: uppercase;
}

.benefit_paragraph {
  position: absolute;
  left: 82px;
  top: 1906px;
  width: 999px;
  height: 264px;
  font-size: 18px;
  line-height: 30px;
}

.image-2 {
  position: absolute;
  left: 1193.3px;
  top: 2193.94px;
  width: 91.7px;
  height: 91.61px;
}

.pro_sub {
  position: absolute;
  left: 391px;
  top: 3625px;
  width: 564px;
  height: 128px;
  color: #000;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
}

.mpu {
  position: relative;
  width: 390px;
  height: 300px;
}

.free {
  position: relative;
  width: 390px;
  height: 300px;
}

.province_section {
  height: 1474px;
  font-family: Gantari, sans-serif;
}

.image-3 {
  width: 390px;
  height: 300px;
  mix-blend-mode: normal;
}

.image-3:hover {
  background-color: #000;
  opacity: 1;
  mix-blend-mode: normal;
}

.gaut {
  position: relative;
  width: 390px;
  height: 300px;
}

.kzn {
  position: relative;
  width: 390px;
  height: 300px;
}

.north_c {
  position: relative;
  width: 390px;
  height: 300px;
}

.west_c {
  position: relative;
  width: 390px;
  height: 300px;
}

.north_w {
  position: relative;
  width: 390px;
  height: 300px;
}

.east {
  position: relative;
  width: 390px;
  height: 300px;
}

.province_head {
  position: absolute;
  left: 544px;
  top: 2465px;
  width: 278px;
  height: 43px;
  color: #000;
  font-size: 32px;
  line-height: 43px;
  text-align: center;
  text-transform: uppercase;
}

.province_grid {
  position: absolute;
  left: 82px;
  top: 2563px;
  width: 1204px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.province_grid:hover {
  opacity: 1;
}

.lim {
  position: relative;
  width: 390px;
  height: 300px;
}

.team_section {
  height: 767px;
  background-color: #000;
  font-family: Gantari, sans-serif;
  color: #fff;
}

.team_grid {
  position: absolute;
  left: 82px;
  top: 4111px;
  width: 1204px;
  height: 248px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.team_head {
  position: absolute;
  width: 382px;
  height: 43px;
  color: #fff;
  font-size: 32px;
  line-height: 43px;
  text-transform: uppercase;
}

.team_para {
  position: absolute;
  top: 102px;
  width: 564px;
  height: 82px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}

.team_image {
  position: absolute;
  left: 1193.3px;
  top: 4434.94px;
  width: 91.7px;
  height: 91.61px;
}

.footer_grid-2 {
  position: absolute;
  left: 82px;
  top: 5370px;
  right: 82px;
  width: auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.button-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 107px;
  height: 100%;
  padding: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
  text-align: center;
  text-transform: uppercase;
}

.navbar-2 {
  width: 1366px;
  height: 127px;
  max-width: 100%;
  background-color: #fff;
}

.prov_section_about {
  height: 811px;
  background-color: #fff;
}

.prov_heading {
  position: absolute;
  left: 82px;
  top: 845px;
  width: 243px;
  height: 27px;
  color: #000;
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
  text-transform: uppercase;
}

.prov_about_paragraph {
  position: absolute;
  left: 82px;
  top: 929px;
  width: 999px;
  height: 204px;
  color: #000;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}

.shade_para {
  position: absolute;
  left: 82px;
  top: 1161px;
  width: 999px;
  height: 172px;
  background-color: #f8f8f8;
}

.province_inner_para {
  position: absolute;
  left: 24px;
  top: 45px;
  width: 935px;
  height: 84px;
  font-size: 18px;
  line-height: 30px;
}

.prov_btn {
  position: absolute;
  left: 82px;
  top: 1393px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 141px;
  height: 34px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #000;
  background-color: transparent;
  color: #000;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
}

.prov_slider_comp {
  height: 767px;
}

.image-4 {
  height: 100%;
}

.image-5 {
  position: absolute;
  left: 1017.17px;
  top: 440px;
  width: 267.83px;
  height: 267.58px;
  max-width: none;
  background-color: transparent;
}

.province_section_province {
  height: 1534px;
}

.section_2_province {
  height: 767px;
  background-image: url('../images/Western_Cape_Footer_image.jpg');
  background-position: 0px 0px;
  background-size: auto;
}

.footer-2 {
  position: static;
  top: 4634px;
  width: auto;
  height: 174px;
  background-color: #000;
}

.footer_grid-3 {
  position: absolute;
  left: 82px;
  top: 4700px;
  right: 82px;
  width: auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.text-block-2 {
  position: absolute;
  left: 25%;
  top: 50%;
  right: 25%;
  bottom: 25%;
  width: 220px;
  height: 30px;
  color: #fff;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 991px) {
  .nav-menu {
    width: 100%;
    height: 453px;
    max-width: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #fff;
    color: #000;
  }

  .menu-button {
    top: 41px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
  }

  .button {
    width: 100%;
    height: auto;
    margin-top: 40px;
    padding-top: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .nav-link-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav-link-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae66-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae67-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae68-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae6a-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae6b-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae6e-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae6f-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae70-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae72-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae73-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae74-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae76-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae77-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae78-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae7a-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae7b-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae7c-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae7e-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae7f-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae80-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae82-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae83-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae84-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae86-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae87-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae88-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1144dec9-d158-6fd2-c903-3a61a3986e53-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1144dec9-d158-6fd2-c903-3a61a3986e58-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_3441e1d7-5828-a0e7-2c5b-f6d06120552a-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_3441e1d7-5828-a0e7-2c5b-f6d06120552b-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_3441e1d7-5828-a0e7-2c5b-f6d06120552c-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_3441e1d7-5828-a0e7-2c5b-f6d061205536-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0e8962ed-d979-2b33-2b8d-9207f936cb55-93b51374 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-acbfa736-0367-8c19-cec1-9c1f8bace4a9-93b51374 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e58a6948-83d4-320c-f5ec-acff90c17c69-93b51374 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-fb3892c8-d663-1042-cc8b-53264bf801a1-93b51374 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d3b7c888-d3c9-5f4b-ca7c-d8b112543e09-93b51374 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ef653a4f-9425-730e-053e-9d34e7551d68-93b51374 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ef653a4f-9425-730e-053e-9d34e7551d69-93b51374 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ef653a4f-9425-730e-053e-9d34e7551d6a-93b51374 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ef653a4f-9425-730e-053e-9d34e7551d74-93b51374 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d7cc5e29-aaea-5e05-5dc3-717aacab7888-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d7cc5e29-aaea-5e05-5dc3-717aacab788a-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d7cc5e29-aaea-5e05-5dc3-717aacab788c-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d7cc5e29-aaea-5e05-5dc3-717aacab788e-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b5388548-dd88-e9e9-34fb-7047b01033d3-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b5388548-dd88-e9e9-34fb-7047b01033d4-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b5388548-dd88-e9e9-34fb-7047b01033d5-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b5388548-dd88-e9e9-34fb-7047b01033d7-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b5388548-dd88-e9e9-34fb-7047b01033d8-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b5388548-dd88-e9e9-34fb-7047b01033db-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b5388548-dd88-e9e9-34fb-7047b01033dc-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b5388548-dd88-e9e9-34fb-7047b01033dd-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b5388548-dd88-e9e9-34fb-7047b01033df-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b5388548-dd88-e9e9-34fb-7047b01033e0-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b5388548-dd88-e9e9-34fb-7047b01033e1-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b5388548-dd88-e9e9-34fb-7047b01033e3-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b5388548-dd88-e9e9-34fb-7047b01033e4-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b5388548-dd88-e9e9-34fb-7047b01033e5-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b5388548-dd88-e9e9-34fb-7047b01033e7-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b5388548-dd88-e9e9-34fb-7047b01033e8-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b5388548-dd88-e9e9-34fb-7047b01033e9-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b5388548-dd88-e9e9-34fb-7047b01033eb-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b5388548-dd88-e9e9-34fb-7047b01033ec-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b5388548-dd88-e9e9-34fb-7047b01033ed-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b5388548-dd88-e9e9-34fb-7047b01033ef-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b5388548-dd88-e9e9-34fb-7047b01033f0-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b5388548-dd88-e9e9-34fb-7047b01033f1-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b5388548-dd88-e9e9-34fb-7047b01033f3-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b5388548-dd88-e9e9-34fb-7047b01033f4-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b5388548-dd88-e9e9-34fb-7047b01033f5-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d14160e7-da3d-a539-b082-1ecda4ffe372-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d14160e7-da3d-a539-b082-1ecda4ffe373-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d14160e7-da3d-a539-b082-1ecda4ffe374-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d14160e7-da3d-a539-b082-1ecda4ffe37e-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

