.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.nav-menu {
  top: 71px;
  right: 82px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 453px;
  height: 29px;
  max-width: 453px;
  margin-left: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-button {
  color: #000;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 107px;
  height: 100%;
  padding: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
  text-align: center;
  text-transform: uppercase;
}

.nav-link-2 {
  width: 115px;
  height: auto;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
  text-transform: uppercase;
}

.nav-link {
  left: 0px;
  width: 123px;
  height: 21px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
  color: #000;
  text-transform: uppercase;
}

.navbar {
  width: 1366px;
  height: 127px;
  max-width: 100%;
  background-color: #fff;
}

.brand {
  left: 82px;
  top: 18px;
  width: 218px;
  height: 109px;
}

.image {
  width: 162.07px;
  height: 95.55px;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  font-family: Gantari, sans-serif;
}

.nav-link-3 {
  width: 108px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
  text-transform: uppercase;
}

.body {
  height: 2341px;
  max-width: 1366px;
}

.province_section_1 {
  position: relative;
  width: auto;
  height: 640px;
  background-color: transparent;
  background-image: url('../images/Western_Cape_Page_Banner_image.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.hero_heading {
  position: absolute;
  left: 82px;
  top: 513px;
  width: 762px;
  height: 78px;
  color: #fff;
  font-size: 58px;
  line-height: 78px;
  text-transform: uppercase;
}

.prov_block {
  position: absolute;
  left: 895px;
  top: 430px;
  width: 390px;
  height: 150px;
  background-color: #fff;
  opacity: 0.4;
}

.prov_grid {
  position: absolute;
  left: 929px;
  top: 465px;
  right: 15%;
  bottom: 15%;
  width: 311px;
  height: auto;
  grid-auto-flow: row;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
  background-color: transparent;
  color: #000;
  font-size: 22px;
  line-height: 27px;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.text_prov {
  font-family: Gantari, sans-serif;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
}

.contact_section_1 {
  position: relative;
  width: auto;
  height: 640px;
  background-color: transparent;
  background-image: url('../images/Contact_Us_Banner.jpg');
  background-position: 50% 50%;
  background-size: cover;
  font-family: Gantari, sans-serif;
}

.contact_heading {
  position: absolute;
  left: 82px;
  top: 513px;
  width: 762px;
  height: 78px;
  color: #fff;
  font-size: 58px;
  line-height: 78px;
  text-transform: uppercase;
}

.contact_form_section {
  position: relative;
  height: 649px;
  color: #000;
  font-size: 18px;
  line-height: 24px;
}

.grid {
  position: absolute;
  left: 82px;
  top: 885px;
  width: 999px;
  height: 459px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.text-block {
  position: static;
  width: 243px;
  height: 27px;
  font-family: Gantari, sans-serif;
  color: #000;
  font-size: 20px;
  line-height: 27px;
  font-weight: 600;
  text-transform: uppercase;
}

.div-block {
  width: 100%;
  height: 100%;
}

.paragraph {
  position: absolute;
  top: 49px;
  width: 202px;
  height: 114px;
  font-family: Gantari, sans-serif;
  color: #263037;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}

.number_p {
  position: absolute;
  top: 187px;
  width: 145px;
  font-family: Gantari, sans-serif;
  color: #263037;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}

.form-block {
  position: absolute;
  left: 629px;
  top: 75px;
  width: 370px;
  height: 100%;
}

.div-block-2 {
  width: 100%;
  height: 100%;
}

.message_head {
  position: absolute;
  left: 629px;
  top: 0px;
  width: 243px;
  font-family: Gantari, sans-serif;
  color: #000;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

.form {
  position: static;
  height: 100%;
}

.text-field {
  position: absolute;
  top: 0px;
  height: 35px;
  font-family: Gantari, sans-serif;
  color: #7a8791;
}

.text-field-2 {
  position: absolute;
  top: 57px;
  height: 35px;
  font-family: Gantari, sans-serif;
  color: #7a8791;
}

.submit-button {
  position: absolute;
  top: 331px;
  width: 141px;
  height: auto;
  border: 1px solid #000;
  background-color: transparent;
  font-family: Gantari, sans-serif;
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
}

.submit-button.fix {
  display: inline-block;
}

.text-field-3 {
  position: absolute;
  top: 116px;
  height: 35px;
  font-family: Gantari, sans-serif;
  color: #7a8791;
}

.textarea {
  position: absolute;
  top: 173px;
  display: block;
  overflow: visible;
  width: 370px;
  height: 130px;
  min-height: 130px;
  min-width: 0px;
  margin-bottom: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-column-gap: 55888px;
  grid-row-gap: 55888px;
  font-family: Gantari, sans-serif;
  color: #7a8791;
}

.section_2 {
  position: relative;
  height: 767px;
  background-image: url('../images/Homepage_footer_image.jpg');
  background-position: 0px 0px;
  background-size: auto;
}

.contact_section_2 {
  position: relative;
  height: 751px;
  background-image: url('../images/Contact_Us_Footer_image.jpg');
  background-position: 0px 0px;
  background-size: auto;
}

.footer {
  position: relative;
  width: auto;
  height: 174px;
  background-color: #000;
  font-family: Gantari, sans-serif;
}

.footer_grid {
  position: absolute;
  left: 0%;
  top: 39%;
  right: 0%;
  bottom: auto;
  width: auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer_menu {
  position: relative;
  left: auto;
  top: 20px;
  right: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 29px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer_link {
  width: 123px;
  height: 21px;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

.link_text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
}

.footer_button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 107px;
  height: 100%;
  padding: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #fff;
  background-color: transparent;
  font-weight: 400;
  text-transform: uppercase;
}

.section_1 {
  position: relative;
  width: auto;
  height: 640px;
  background-color: transparent;
  background-image: url('../images/Homepage_Banner.jpg');
  background-position: 0% 0%;
  background-size: auto;
  opacity: 1;
}

.hero_heading-2 {
  position: absolute;
  left: 82px;
  top: 337px;
  right: auto;
  width: 596px;
  height: 130px;
  margin: auto;
  font-family: Gantari, sans-serif;
  color: #fff;
  font-size: 58px;
  line-height: 60px;
  text-transform: uppercase;
}

.hero_paragraph {
  position: absolute;
  left: 82px;
  top: 471px;
  width: 774px;
  height: 62px;
  font-family: Gantari, sans-serif;
  color: #fff;
  font-size: 22px;
  line-height: 35px;
  font-weight: 300;
  text-transform: uppercase;
}

.about_section {
  height: 811px;
}

.benefits_section {
  position: relative;
  height: 767px;
  background-color: #fff;
  color: #000;
}

.about_heading {
  position: absolute;
  left: 82px;
  top: 189px;
  width: 564px;
  height: 64px;
  font-family: Gantari, sans-serif;
  color: #000;
  font-size: 48px;
  line-height: 64px;
  text-transform: uppercase;
}

.about_paragraph {
  position: absolute;
  left: 82px;
  top: 300px;
  width: 999px;
  height: 267px;
  font-family: Gantari, sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}

.benefit_section {
  position: relative;
  height: 767px;
  background-color: #000;
  font-family: Gantari, sans-serif;
  color: #fff;
}

.benefit_heading {
  position: absolute;
  left: 82px;
  top: 152px;
  width: 564px;
  height: 128px;
  font-size: 48px;
  line-height: 60px;
  text-align: left;
  text-transform: uppercase;
}

.benefit_paragraph {
  position: absolute;
  left: 82px;
  top: 328px;
  width: 1075px;
  height: 264px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  text-align: left;
}

.image-2 {
  position: absolute;
  left: 1193px;
  top: auto;
  right: 81px;
  bottom: 59px;
  width: 91.7px;
  height: 91.61px;
}

.pro_sub {
  position: absolute;
  left: 391px;
  top: 1280px;
  width: 564px;
  height: 128px;
  font-family: 'Ms Madi', sans-serif;
  color: #000;
  font-size: 48px;
  line-height: 63px;
  font-weight: 400;
  text-align: center;
}

.mpu {
  position: relative;
  width: 390px;
  height: 300px;
}

.free {
  position: relative;
  width: 390px;
  height: 300px;
}

.province_section {
  position: relative;
  height: 1474px;
  font-family: Gantari, sans-serif;
}

.image-3 {
  width: 390px;
  height: 300px;
  mix-blend-mode: normal;
}

.image-3:hover {
  background-color: #000;
  opacity: 1;
  mix-blend-mode: normal;
}

.gaut {
  position: relative;
  width: 390px;
  height: 300px;
}

.kzn {
  position: relative;
  width: 390px;
  height: 300px;
}

.north_c {
  position: relative;
  width: 390px;
  height: 300px;
}

.west_c {
  position: relative;
  width: 390px;
  height: 300px;
}

.north_w {
  position: relative;
  width: 390px;
  height: 300px;
}

.east {
  position: relative;
  width: 390px;
  height: 300px;
}

.province_head {
  position: absolute;
  left: 544px;
  top: 120px;
  width: 278px;
  height: 43px;
  color: #000;
  font-size: 32px;
  line-height: 43px;
  text-align: center;
  text-transform: uppercase;
}

.province_grid {
  position: absolute;
  left: 82px;
  top: 218px;
  width: 1204px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.province_grid:hover {
  opacity: 1;
}

.lim {
  position: relative;
  width: 390px;
  height: 300px;
}

.team_section {
  position: relative;
  height: 767px;
  background-color: #000;
  font-family: Gantari, sans-serif;
  color: #fff;
}

.team_grid {
  position: absolute;
  left: 82px;
  top: 292px;
  width: 1204px;
  height: 248px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.team_head {
  position: absolute;
  width: 382px;
  height: 43px;
  color: #fff;
  font-size: 32px;
  line-height: 43px;
  text-transform: uppercase;
}

.team_para {
  position: absolute;
  top: 102px;
  width: 564px;
  height: 112px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}

.team_image {
  position: absolute;
  left: 1193px;
  top: auto;
  bottom: 59px;
  width: 91.7px;
  height: 91.61px;
}

.footer_grid-2 {
  position: absolute;
  left: 82px;
  top: 39px;
  right: 82px;
  width: 1204px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.button-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 107px;
  height: 100%;
  padding: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
  text-align: center;
  text-transform: uppercase;
}

.navbar-2 {
  width: 1366px;
  height: 127px;
  max-width: 100%;
  background-color: #fff;
}

.prov_section_about {
  position: relative;
  height: 811px;
  background-color: #fff;
  font-family: Gantari, sans-serif;
  font-weight: 400;
}

.prov_heading {
  position: absolute;
  left: 82px;
  top: 78px;
  width: 243px;
  height: 27px;
  font-family: Gantari, sans-serif;
  color: #000;
  font-size: 20px;
  line-height: 27px;
  font-weight: 600;
  text-transform: uppercase;
}

.prov_about_paragraph {
  position: absolute;
  left: 82px;
  top: 162px;
  width: 999px;
  height: 204px;
  font-family: Gantari, sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}

.shade_para {
  position: absolute;
  left: 82px;
  top: 394px;
  width: 999px;
  height: 172px;
  background-color: #f8f8f8;
}

.province_inner_para {
  position: absolute;
  left: 24px;
  top: 45px;
  width: 935px;
  height: 84px;
  color: #000;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}

.prov_btn {
  position: absolute;
  left: 82px;
  top: 626px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 141px;
  height: 34px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #000;
  background-color: transparent;
  color: #000;
  font-size: 17px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.prov_slider_comp {
  height: 767px;
}

.image-4 {
  height: 100%;
}

.image-5 {
  position: absolute;
  left: 1017.17px;
  top: 440px;
  z-index: 100000;
  width: 267.83px;
  height: 267.58px;
  max-width: none;
  background-color: transparent;
  opacity: 0.5;
}

.province_section_province {
  position: relative;
  height: 1534px;
}

.section_2_province {
  position: relative;
  top: auto;
  height: 767px;
  background-image: url('../images/Western_Cape_Footer_image.jpg');
  background-position: 0px 0px;
  background-size: auto;
}

.footer-2 {
  position: static;
  top: 4634px;
  width: auto;
  height: 174px;
  background-color: #000;
  font-family: Gantari, sans-serif;
}

.footer_grid-3 {
  position: absolute;
  left: 82px;
  top: 4700px;
  right: 82px;
  width: auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.text-block-2 {
  position: absolute;
  left: 25%;
  top: 50%;
  right: 25%;
  bottom: 25%;
  width: 220px;
  height: 30px;
  font-family: Gantari, sans-serif;
  color: #fff;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.image-6 {
  height: 100%;
}

.body-2 {
  max-width: 1366px;
  margin-right: auto;
  margin-left: auto;
}

.form_grid {
  position: absolute;
  left: 82px;
  top: 78px;
  width: 999px;
  height: 459px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.contact_body {
  height: auto;
  max-height: none;
  max-width: 1366px;
  margin-right: auto;
  margin-left: auto;
}

.province_head_name {
  position: absolute;
  left: 544px;
  top: 120px;
  right: 0%;
  bottom: 0%;
  width: 278px;
  height: 43px;
  color: #000;
  font-size: 32px;
  line-height: 43px;
  text-align: center;
  text-transform: uppercase;
}

.province_grid_each {
  position: absolute;
  left: 82px;
  top: 218px;
  right: auto;
  bottom: 0%;
  width: 1204px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.province_grid_each:hover {
  opacity: 1;
}

.pro_sub_each {
  position: absolute;
  left: 391px;
  top: 1280px;
  right: 0%;
  bottom: auto;
  width: 564px;
  height: 128px;
  font-family: Gantari, sans-serif;
  color: #000;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
}

.west_body {
  max-width: 1366px;
  margin-right: auto;
  margin-left: auto;
}

.province_section_contact {
  position: relative;
  height: 1534px;
  font-family: Gantari, sans-serif;
}

.gradient_home {
  position: absolute;
  top: 399px;
  width: 100%;
  height: 241px;
  background-image: linear-gradient(177deg, transparent 24%, rgba(0, 0, 0, 0.62));
  mix-blend-mode: normal;
}

.gradient_contact {
  position: absolute;
  top: 326px;
  width: 100%;
  height: 314px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(74%, transparent), to(#263037));
  background-image: linear-gradient(180deg, transparent 74%, #263037);
  mix-blend-mode: normal;
}

.right-arrow {
  display: none;
}

.left-arrow {
  display: none;
}

.button-3 {
  position: absolute;
  top: 331px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 141px;
  height: 34px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #000;
  background-color: transparent;
  font-family: Gantari, sans-serif;
  color: #000;
  text-transform: uppercase;
}

@media screen and (max-width: 991px) {
  .nav-menu {
    width: 100%;
    height: 453px;
    max-width: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #fff;
    color: #000;
  }

  .menu-button {
    top: 41px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
  }

  .button {
    width: 100%;
    height: auto;
    margin-top: 40px;
    padding-top: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .nav-link-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .brand {
    left: 82px;
  }

  .brand.w--current {
    left: 50px;
  }

  .nav-link-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .hero_heading {
    left: 82px;
    width: 85%;
  }

  .prov_block {
    left: auto;
    top: auto;
    right: 3%;
    bottom: 15%;
  }

  .prov_grid {
    left: auto;
    top: auto;
    right: 8%;
    bottom: 20%;
    overflow: visible;
    height: 100px;
    color: #000;
  }

  .text_prov {
    opacity: 1;
    mix-blend-mode: darken;
  }

  .contact_section_1 {
    background-position: 0% 0%;
    background-size: auto;
  }

  .contact_heading {
    width: auto;
  }

  .contact_form_section {
    height: 950px;
  }

  .grid {
    width: 100%;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .div-block {
    width: 80%;
  }

  .form-block {
    left: auto;
  }

  .div-block-2 {
    position: absolute;
    top: 302px;
    width: 100%;
  }

  .message_head {
    position: static;
    left: auto;
  }

  .section_2 {
    position: relative;
  }

  .footer {
    position: relative;
    height: 300px;
  }

  .footer_grid {
    left: 0%;
    top: 25%;
    right: 0%;
    bottom: auto;
  }

  .footer_menu {
    top: auto;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .section_1 {
    position: relative;
    width: auto;
    background-size: auto;
  }

  .hero_heading-2 {
    left: 50px;
    right: 82px;
    width: auto;
  }

  .hero_paragraph {
    left: 50px;
    right: 82px;
    width: auto;
    height: 120px;
  }

  .benefits_section {
    position: relative;
    width: auto;
  }

  .about_heading {
    left: 50px;
    width: auto;
  }

  .about_paragraph {
    left: 50px;
    right: 82px;
    width: auto;
    height: 350px;
  }

  .benefit_section {
    position: relative;
    height: 1000px;
  }

  .benefit_heading {
    left: 50px;
    right: 82px;
    width: auto;
  }

  .benefit_paragraph {
    left: 50px;
    right: 82px;
    width: auto;
    height: 400px;
  }

  .image-2 {
    left: auto;
    top: auto;
    right: 4%;
    bottom: 6%;
  }

  .pro_sub {
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 5%;
    width: 100%;
  }

  .province_section {
    position: relative;
    height: 2400px;
  }

  .province_head {
    left: 0%;
    top: 10%;
    right: 0%;
    bottom: auto;
    width: 100%;
  }

  .province_grid {
    left: 0%;
    top: 15%;
    right: 0%;
    bottom: auto;
    width: auto;
    justify-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .team_section {
    position: relative;
  }

  .team_grid {
    left: 0%;
    top: 17%;
    right: 0%;
    bottom: auto;
    overflow: visible;
    width: 100%;
    height: 400px;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .team_1 {
    position: relative;
    left: 50px;
    width: 600px;
  }

  .team_2 {
    position: relative;
    left: 50px;
    top: auto;
    width: 600px;
  }

  .team_image {
    left: auto;
    top: auto;
    right: 4%;
    bottom: 6%;
  }

  .footer_grid-2 {
    left: 0%;
    top: 27%;
    right: 0%;
    bottom: auto;
    width: 100%;
    height: auto;
    justify-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .prov_about_paragraph {
    left: 82px;
    width: 85%;
    height: 250px;
  }

  .shade_para {
    left: 82px;
    top: 488px;
    width: 85%;
    height: 200px;
  }

  .province_inner_para {
    left: auto;
    top: auto;
    width: 100%;
    height: 100%;
    padding-top: 40px;
  }

  .prov_btn {
    top: 737px;
  }

  .prov_slider {
    position: relative;
  }

  .image-4 {
    width: 100%;
  }

  .image-5 {
    position: absolute;
    left: auto;
    top: auto;
    right: 8%;
    bottom: 5%;
    z-index: 10000000000;
    width: 220px;
  }

  .image-6 {
    width: 100%;
    height: 100%;
  }

  .link-block {
    height: auto;
  }

  .link-block.w--current {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    height: 100px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .image-7 {
    width: 100%;
    height: 90%;
  }

  .form_grid {
    width: 85%;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .province_head_name {
    left: 0%;
    top: 10%;
    right: 0%;
    bottom: auto;
    width: 100%;
  }

  .province_grid_each {
    left: 0%;
    top: 15%;
    right: 0%;
    bottom: auto;
    width: 100%;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .pro_sub_each {
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 5%;
    width: 100%;
  }

  .province_section_contact {
    position: relative;
    height: 2400px;
  }
}

@media screen and (max-width: 767px) {
  .brand {
    left: auto;
  }

  .section_1 {
    width: auto;
  }

  .hero_heading-2 {
    left: 5%;
    top: 53%;
    right: 0%;
    bottom: auto;
    height: 120px;
  }

  .hero_paragraph {
    left: 5%;
    top: auto;
    right: 0%;
    bottom: 0%;
    height: 150px;
  }

  .about_section {
    height: 1000px;
  }

  .about_heading {
    left: 5%;
    top: 10%;
    right: 0%;
    bottom: auto;
  }

  .about_paragraph {
    left: 5%;
    top: auto;
    right: 0%;
    bottom: 0%;
    height: 420px;
  }

  .benefit_heading {
    left: 0%;
    top: 5%;
    right: 0%;
    bottom: auto;
    height: 200px;
  }

  .benefit_paragraph {
    left: 5%;
    right: 0px;
    height: 520px;
  }

  .image-2 {
    left: auto;
  }

  .pro_sub {
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 4%;
  }

  .province_section {
    height: 3600px;
  }

  .province_head {
    left: 0%;
    top: 5%;
    right: 0%;
    bottom: auto;
  }

  .province_grid {
    top: 10%;
    justify-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .team_section {
    height: 850px;
  }

  .team_grid {
    left: 0%;
    top: 6%;
    right: 0%;
    bottom: auto;
    width: 100%;
    height: 70%;
  }

  .team_1 {
    left: auto;
    width: 100%;
  }

  .team_head {
    left: 50px;
  }

  .team_para {
    left: 50px;
    width: 500px;
    height: 150px;
  }

  .team_2 {
    left: auto;
    width: 100%;
  }

  .footer_grid-2 {
    left: 0%;
    top: 15%;
    right: 0%;
    bottom: auto;
  }

  .shade_para {
    top: 562px;
    height: 300px;
  }

  .prov_btn {
    top: 900px;
  }

  .province_head_name {
    left: 0%;
    top: 5%;
    right: 0%;
    bottom: auto;
  }

  .province_grid_each {
    top: 10%;
    justify-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .pro_sub_each {
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 4%;
  }

  .province_section_contact {
    height: 3600px;
  }
}

@media screen and (max-width: 479px) {
  .brand {
    left: auto;
  }

  .brand.w--current {
    left: 10px;
  }

  .hero_heading {
    left: 5%;
    top: 463px;
    width: 75%;
  }

  .prov_block {
    left: 5%;
    width: 95%;
  }

  .prov_grid {
    left: 5%;
    width: 90%;
  }

  .contact_section_1 {
    height: 750px;
  }

  .contact_heading {
    left: auto;
    width: 100%;
  }

  .grid {
    left: auto;
    top: 947px;
  }

  .text-block {
    position: absolute;
    left: 5%;
  }

  .div-block {
    position: absolute;
    left: auto;
  }

  .paragraph {
    left: 5%;
  }

  .number_p {
    left: 5%;
  }

  .form-block {
    width: 85%;
  }

  .div-block-2 {
    left: 5%;
    width: 85%;
  }

  .textarea {
    width: 100%;
    height: 200px;
  }

  .footer {
    height: 450px;
  }

  .footer_grid {
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
  }

  .footer_menu {
    top: auto;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
  }

  .link_text {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .section_1 {
    height: 800px;
  }

  .hero_heading-2 {
    left: 5%;
    top: 35%;
    right: 0%;
    bottom: auto;
    height: 180px;
  }

  .hero_paragraph {
    left: 5%;
    top: auto;
    right: 0%;
    bottom: 23%;
    height: 100px;
  }

  .about_section {
    height: 1500px;
  }

  .benefits_section {
    height: 1200px;
  }

  .about_paragraph {
    bottom: 35%;
  }

  .benefit_section {
    height: 1200px;
  }

  .benefit_heading {
    left: 5%;
  }

  .benefit_paragraph {
    left: 5%;
    top: 30%;
    right: 0%;
    bottom: auto;
  }

  .image-2 {
    bottom: 1%;
  }

  .pro_sub {
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 10%;
    width: auto;
  }

  .mpu {
    width: auto;
  }

  .free {
    width: auto;
  }

  .province_section {
    width: auto;
  }

  .image-3 {
    position: static;
    width: 100%;
    max-width: none;
    min-width: 0%;
  }

  .gaut {
    width: auto;
  }

  .kzn {
    width: auto;
  }

  .north_c {
    width: auto;
  }

  .north_w {
    width: auto;
  }

  .east {
    left: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .province_head {
    left: 0%;
    top: 3%;
    right: 0%;
    bottom: auto;
  }

  .province_grid {
    left: auto;
    top: 6%;
    right: auto;
    bottom: auto;
    width: 100%;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
  }

  .lim {
    width: auto;
  }

  .team_section {
    height: 1200px;
  }

  .team_grid {
    left: 0%;
    top: 15%;
    right: 0%;
    bottom: auto;
  }

  .team_head {
    left: 5%;
    width: auto;
  }

  .team_para {
    left: 5%;
    top: 127px;
    width: auto;
  }

  .footer_grid-2 {
    left: 0%;
    top: 25%;
    right: 0%;
    bottom: auto;
    width: 100%;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .prov_heading {
    left: 5%;
  }

  .prov_about_paragraph {
    left: 5%;
  }

  .shade_para {
    left: 5%;
    top: 805px;
    height: 450px;
  }

  .prov_btn {
    left: 5%;
    top: 1300px;
  }

  .image-4 {
    -o-object-fit: cover;
    object-fit: cover;
  }

  .image-5 {
    left: 132px;
    width: 150px;
  }

  .image-6 {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .form_grid {
    left: 0%;
    top: 7%;
    right: 0%;
    bottom: auto;
    width: 100%;
  }

  .province_head_name {
    left: 0%;
    top: 3%;
    right: 0%;
    bottom: auto;
  }

  .province_grid_each {
    left: 0%;
    top: 6%;
    right: 0%;
    bottom: auto;
    width: 100%;
  }

  .pro_sub_each {
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 10%;
    width: auto;
  }

  .province_section_contact {
    width: auto;
  }
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae66-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae68-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae6a-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae6b-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae6e-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae6f-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae70-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae72-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae73-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae74-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae76-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae77-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae78-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae7a-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae7b-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae7c-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae7e-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae7f-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae80-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae82-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae83-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae84-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae86-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae87-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9b1b9770-46f4-0eb1-ac6f-22425acdae88-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1144dec9-d158-6fd2-c903-3a61a3986e53-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1144dec9-d158-6fd2-c903-3a61a3986e58-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_3441e1d7-5828-a0e7-2c5b-f6d06120552a-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_3441e1d7-5828-a0e7-2c5b-f6d06120552b-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_3441e1d7-5828-a0e7-2c5b-f6d06120552c-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_3441e1d7-5828-a0e7-2c5b-f6d061205536-df25c0b1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0e8962ed-d979-2b33-2b8d-9207f936cb55-93b51374 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-acbfa736-0367-8c19-cec1-9c1f8bace4a9-93b51374 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e58a6948-83d4-320c-f5ec-acff90c17c69-93b51374 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-fb3892c8-d663-1042-cc8b-53264bf801a1-93b51374 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_6316656f-aa8a-e14a-3f7e-6ac6137de893-93b51374 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_6316656f-aa8a-e14a-3f7e-6ac6137de894-93b51374 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_6316656f-aa8a-e14a-3f7e-6ac6137de895-93b51374 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_6316656f-aa8a-e14a-3f7e-6ac6137de89f-93b51374 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d7cc5e29-aaea-5e05-5dc3-717aacab7888-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d7cc5e29-aaea-5e05-5dc3-717aacab788a-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d7cc5e29-aaea-5e05-5dc3-717aacab788c-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d7cc5e29-aaea-5e05-5dc3-717aacab788e-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_56155219-8e28-dbec-9140-c961c9b1c963-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1d7d8303-9b03-6b05-b77b-fd3082d6413e-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_443b4398-f6c1-ac94-e0f7-837f7662df0f-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_443b4398-f6c1-ac94-e0f7-837f7662df10-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_443b4398-f6c1-ac94-e0f7-837f7662df11-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_443b4398-f6c1-ac94-e0f7-837f7662df13-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_443b4398-f6c1-ac94-e0f7-837f7662df14-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_443b4398-f6c1-ac94-e0f7-837f7662df17-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_443b4398-f6c1-ac94-e0f7-837f7662df18-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_443b4398-f6c1-ac94-e0f7-837f7662df19-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_443b4398-f6c1-ac94-e0f7-837f7662df1b-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_443b4398-f6c1-ac94-e0f7-837f7662df1c-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_443b4398-f6c1-ac94-e0f7-837f7662df1d-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_443b4398-f6c1-ac94-e0f7-837f7662df1f-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_443b4398-f6c1-ac94-e0f7-837f7662df20-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_443b4398-f6c1-ac94-e0f7-837f7662df21-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_443b4398-f6c1-ac94-e0f7-837f7662df23-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_443b4398-f6c1-ac94-e0f7-837f7662df24-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_443b4398-f6c1-ac94-e0f7-837f7662df25-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_443b4398-f6c1-ac94-e0f7-837f7662df27-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_443b4398-f6c1-ac94-e0f7-837f7662df28-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_443b4398-f6c1-ac94-e0f7-837f7662df29-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_443b4398-f6c1-ac94-e0f7-837f7662df2b-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_443b4398-f6c1-ac94-e0f7-837f7662df2c-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_443b4398-f6c1-ac94-e0f7-837f7662df2d-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_85cb010d-fb09-ff45-96a2-8483cb25bc48-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_443b4398-f6c1-ac94-e0f7-837f7662df2f-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_443b4398-f6c1-ac94-e0f7-837f7662df30-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_443b4398-f6c1-ac94-e0f7-837f7662df31-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c4de8456-087b-1992-3f48-e9ad241e49fd-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c4de8456-087b-1992-3f48-e9ad241e49fe-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c4de8456-087b-1992-3f48-e9ad241e49ff-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c4de8456-087b-1992-3f48-e9ad241e4a09-5b772916 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@media screen and (max-width: 479px) {
  #w-node-_3441e1d7-5828-a0e7-2c5b-f6d06120552a-df25c0b1 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_6316656f-aa8a-e14a-3f7e-6ac6137de893-93b51374 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-c4de8456-087b-1992-3f48-e9ad241e49fd-5b772916 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

